.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link {
    width: 150px;
    margin: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: white;

    background: #e1eec3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #f05053, #e1eec3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #f05053, #e1eec3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    background-clip: text;
    transition: color 0.5s;
}

.link:hover {
    cursor: pointer;
    color: transparent;
    transition: color 0.5s;
}

.link svg {
    margin-right: 16px;
    transition: transform 0.5s;
}

.link:hover svg {
    transform: scale(1.2);
    transition: transform 0.5s;
}

.image {
    color: white;
}

.appear {
    transform: scale(0);
}

.appearDone {
    transition: transform 1s;
    transform: scale(1);
    transform-origin: center;
}