.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link {
    width: 150px;
    margin: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;

    background: #dd3e54;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6be585, #dd3e54);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6be585, #dd3e54); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-clip: text;
    color: transparent;
}

.link:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.link svg {
    margin-right: 16px;
}

.image {
    color: white;
}

.appear {
    transform: scale(0);
}

.appearDone {
    transition: all 500ms;
    transform: scale(1);
    transform-origin: center;
}