.container {
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name {
    font-weight: bold;
    font-size: 24px;
}

.contacts {
    margin: 16px 0;
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    text-align: center;
}

.email {
    text-decoration: none;
    color: white;
}